.typed-strings p {
  position: absolute;
}
.typed,.typed-strings{
  display: inline-block;
}
.typed-strings p {
  position: absolute;
}
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 6vw;
  line-height: 6.5vw;
}
@media (max-width: 768px){
  .typed-cursor{
    font-size: 10vw;
    line-height: 10.5vw;
  }
}

h1.big,
.h1_big {
  font-family: 'Lato', sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  margin: 0;
  line-height: 66px;
  letter-spacing:-2px;
}
