<header class="navbar navbar-fullpage boxed">
  <div class="navbar-bg"></div>
  <a class="brand" href="index.html#page1">
    <img class="brand-img" src="images/brand.svg">
    <div class="brand-info">
      <div class="brand-name">Andrea Feliz</div>
      <div class="brand-text">Communication and Design</div>
    </div>
  </a>

  <div class="d-md-block">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
      <span class="icon-menu"></span>
    </button>
    <div id="language" class="language"></div>
  </div>

  <div class="contacts d-none d-md-block">
    <div data-i18n="phone-number-num" class="contact-item"></div>
    <div class="contact-item spacer">
      /
    </div>
    <div class="contact-item">
      <a href="mailto:contact@Ramsay.com">andorea.contact@gmail.com</a>
    </div>
  </div>
</header>
<script>
  // Set language string from localStorage
  var language_code = localStorage.getItem('language_code');
  if (language_code == null) {
    language_code = 'EN';
    localStorage.setItem('language_code', 'EN');
  }

  // Invert language code
  var display_language_code = '';
  if (language_code == 'EN') {
    display_language_code = 'ES';
  } else if (language_code == 'ES') {
    display_language_code = 'EN';
  }

  $('#language').text(display_language_code);

  var i18n_strings = [
    "phone-number-num",
  ]
  var i18n = JSON.parse(localStorage.getItem('i18n'));
  for (var i = 0; i < i18n_strings.length; i++) {
    // get all elements with that string as value of data-i18n
    var elements = document.querySelectorAll('[data-i18n="' + i18n_strings[i] + '"]');
    for (var j = 0; j < elements.length; j++) {
      // set the text of the element to the value of the string in the i18n object
      elements[j].innerHTML = i18n[i18n_strings[i]];
    }
  }

  $('.navbar-toggle').on('click',function(){
    $('body').removeClass('menu-is-closed').addClass('menu-is-opened');
  });
  // Toggle language EN/ES when clicked
  $language_elem = $('#language');
  $language_elem.on('click', function(){
    if ($language_elem.text() == 'ES') {
      $language_elem.text('EN');
      localStorage.setItem('language_code', 'ES');
      console.log('EN');
    } else {
      $language_elem.text('ES');
      localStorage.setItem('language_code', 'EN');
      console.log('ES');
    }
    localStorage.removeItem('i18n');
    location.reload();
  });
</script>
